@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-12">
        <form id="profile-form" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating row">
                <div class="col-6">

                    <label asp-for="Input.ProfilePicture" class="form-label"></label>
                    <input asp-for="Input.ProfilePicture" id="profile-picture-input"  type="file" style="display:block" />
                </div>
                <div class="col-6">

                    <img id="img" style="height:20vw; width:20vw; margin:auto" src="@Model.ProfilePictureBlob.Path" />
                </div>
            </div>

            <button id="update-profile-button" type="submit" class="w-25 form-button">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/site.js"></script>
}
