@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="Username" class="form-label"></label>6
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-floating">
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-floating" style="height:20vw">
                <label asp-for="Input.ProfilePicture" class="form-label"></label>
                <input asp-for="Input.ProfilePicture" id="profile-picture-input" type="file" class="form-control" />
                <img id="img" style="max-height:20vw"/>
            </div>

            <button id="update-profile-button" type="submit" class="w-100 form-button">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/site.js"></script>
}
