@using Microsoft.AspNetCore.Identity
@using Syntax.Core.Models
@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-button" asp-area="Identity" asp-page="/Account/Manage/Index" title="Profile">@User.Identity.Name</a>
    </li>
    <li class="nav-item">
        <a class="nav-button" asp-area="Identity" asp-page="/Account/Logout" title="Logout">Logout</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-button" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-button" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
