.file-upload {
  overflow: hidden;
  cursor: pointer;
}

.file-upload img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 5%;
}

.file-upload input[type="file"] {
  display: none;
}

img{
  width: 100%;
}
