@page
@using Syntax.Core.Services.Base;
@inject ApplicationDbContext AppDBContext
@inject IUserService userService;

@model IndexModel

@section Styles {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/post.css")" rel="stylesheet" type="text/css" />
}

@section Scripts {
    <script src="~/js/index.js"></script>
}

<div id="index-page-posts-container" data-post-request-url="@Model.PostRequestUrl">

    @* Don't modify. JavaScript will load elements here. *@
    <div class="loader"></div>
</div>
