@page
@inject ApplicationDbContext AppDBContext

@model IndexModel
@{
    ViewData["Title"] = "Home page";

} 

<div>
    @foreach(var post in Model.Posts)
    {
        <a href="/post/@post.Id" style="text-decoration: none; color: black;">
            <div class="post">
                <div class="post-ratio">
                    <input type="button" value="<" style="height:25%; width:100%"/>
                    <span style="height:50%; text-align:center; width:100%">35</span>
                    <input type="button" value=">" style="height:25%; width:100%"/>
                </div>
                <div class="post-content">
                    <div class="post-sub-container header-container">
                        <h3 style">@post.Title</h3>
                    </div>

                     <div class="post-sub-container">
                        <p class="post-content">@post.Body</p>
                     </div>

                     <div class="post-sub-container">
                        <p>@AppDBContext.Users.FirstOrDefault(u => u.Id == post.UserId).UserName</p>
                     </div>
                </div>
            </div>
        </a>
    }
</div>