/*Main Page CSS*/
.main-page-post {
    text-decoration: none;
    color: #fff;
    margin-top: 2vw;
    margin-bottom: 2vw;
    display: flex;
}
    .main-page-post > .post-content {
        width: 100%;
        background: #ffffff10;
    }
        .main-page-post > .post-content > .post-sub-container {
            padding: 0.3vw 1vw;            
            word-wrap: break-word;
        }
            .main-page-post > .post-content > .post-sub-container > .post-body {
                color: white;
                padding: 2vw 0 0 0;
            }

        .main-page-post > .post-content > .header-container {
            border-bottom: 1px solid #fff;
            padding: 0.8vw;
            color: #cf7500;
        }

        .main-page-post > .post-content > .author-container {
            padding: 0.8vw;
            color: #0d70a1;
        }

/*Main Page Hover CSS*/
.main-page-post-hover {
    background: #ffffff20;
}

    .main-page-post-hover > .post-content > .header-container {
        border-bottom: 1px solid #cf7500;
    }

    .main-page-post-hover > .post-content > .author-container {
        color: #cf7500;
    }

        .main-page-post-hover > .post-content > .header-container > .post-author {
            color: #cf7500;
        }

/*Post Page CSS*/
.post-page-post {
    background: #ffffff10;
    text-decoration: none;
    color: #fff;
    margin-top: 2vw;
    margin-bottom: 1vw;
    display: flex;
    padding: 1vw;
    border-bottom: 1px solid white;
    
}
    .post-page-post > .post-content{
        word-wrap:break-word;
    }

.comment {
    background: #80808020;
    padding: 1vw;
    margin-bottom: 1vw;
    color: white;
    word-wrap: break-word;
}

.post-comment-field {

    margin-bottom: 2em;
}

.post-comment-field > form > input{
    border: 0px;
}