.login-form {
    background: #404040;
    border-radius: 5px;
    text-align: left;
    margin-top: 20%;
    padding: 2em 0;

    .form-field-group {

        label {
            display: block;
            color: white;
        }

        input {
            width: 100%;
            border-radius: 5px;
            background: gray;
        }

        button {
            border-radius: 5px;
            padding: 0.4em;
            margin: 1vh 0 1vh 0;
        }
    }

    .error-message {
        color: red;
        min-height: 2vh;
        height: 2vh;
        margin: 0;
    }
}