@page "{step?}"
@model RegisterModel

@section Styles {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="col-md-7 syntax-form" style="margin:auto; margin-top: 8vh">        
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            
            <h1 style="text-align:center; margin-bottom: 3vh" class="text-orange">Register as a new user</h1>

            <section>             
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating" style="margin: 1vw 0px">
                    <label asp-for="Input.UserName" class="text-blue"></label>
                    <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-floating" style="margin: 1vw 0px">
                    <label asp-for="Input.Email" class="text-blue"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating" style="margin: 1vw 0px">
                    <label asp-for="Input.Password" class="text-blue"></label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating" style="margin: 1vw 0px">
                    <label asp-for="Input.ConfirmPassword" class="text-blue"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div style="margin: 3vw 0px">
                    <button type="submit" class="w-100 form-button">Next</button>
                </div>
            </section>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/register.js"></script>
}
